<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94802559041-f1fe66b93jt4lfn5sub625ppi31ahn5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94802559041-f1fe66b93jt4lfn5sub625ppi31ahn5v</string>
	<key>API_KEY</key>
	<string>AIzaSyApxvh0SFQozG82aZ9QSp6pJhPcs70GLlU</string>
	<key>GCM_SENDER_ID</key>
	<string>94802559041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petercurikjr.datachest-ios</string>
	<key>PROJECT_ID</key>
	<string>datachest-74f4c</string>
	<key>STORAGE_BUCKET</key>
	<string>datachest-74f4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94802559041:ios:fb89468c6b1aca9b9486c0</string>
</dict>
</plist>